<section data-ng-controller="CampagnesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Campagnes</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="campagne in campagnes" data-ng-href="#!/campagnes/{{campagne._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="campagne.created | date:'medium'"></span>
				by
				<span data-ng-bind="campagne.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="campagne.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!campagnes.$resolved || campagnes.length">
    	No Campagnes yet, why don't you <a href="/#!/campagnes/create">create one</a>?
    </div>
</section>