<section data-ng-controller="CampagnesController" data-ng-init="findOne()">
	<a class="btn btn-primary" href="/#!/campagnes"><i class="fa fa-chevron-left"></i> Retour aux campagnes</a>

	<div class="page-header">
		<h1 data-ng-bind="campagne.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == campagne.user._id))">
		<a class="btn btn-primary" href="/#!/campagnes/{{campagne._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Campagne créée le
			<span data-ng-bind="campagne.created | date:'dd/MM/yyyy à HH:mm'"></span>
			par
			<span data-ng-bind="campagne.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="campagne.description"></p>

	<div class="list-group">
		<a data-ng-repeat="game in campagne.gameSessions" class="list-group-item">
			<p data-ng-bind="game.title"></p>
			<p data-ng-bind="game.summary"></p>
		</a>
	</div>

    <div class="alert alert-warning text-center" data-ng-hide="campagne.gameSessions.length">
    	Aucune séance programmée, <a href="/#!/campagnes/{{campagne._id}}/create">en créer une !</a>
    </div>
    <a href="/#!/campagnes/{{campagne._id}}/create" class="btn btn-primary" data-ng-show="((authentication.user) && (authentication.user._id == campagne.user._id))"><i class="fa fa-plus"></i> Nouvelle séance</a>

</section>
