<section data-ng-controller="CampagnesController" data-ng-init="findOne()">
	<nav>
	  <ul class="pager">
	    <li class="previous"><a href="/#!/campagnes/{{campagne._id}}"><span aria-hidden="true">&larr;</span> Retour à la campagne</a></li>
	  </ul>
	</nav>

	<div class="jumbotron">
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == campagne.user._id))">
			<a class="btn btn-primary" href="/#!/campagnes/{{campagne._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>		
		<h1 data-ng-bind="campagne.name"></h1>
		<p data-ng-bind="campagne.description"></p>
		<small>
			<em class="text-muted">
				Session créée le
				<span data-ng-bind="campagne.created | date:'dd/MM/yyyy à HH:mm'"></span>
				par
				<span data-ng-bind="campagne.user.displayName"></span>
			</em>
		</small>
	</div>

	<div class="list-group">
		<a data-ng-repeat="game in campagne.gameSessions" class="list-group-item" data-ng-href="/#!/campagnes/{{campagne._id}}/{{game.id}}">
			<small class="pull-right">
				<em class="text-muted">
					<span data-ng-bind="game.created | date:'dd/MM/yyyy à HH:mm'"></span>
				</em>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="game.title"></h4>
			<p class="list-group-item-text" data-ng-bind="game.slogan"></p>
		</a>
	</div>

	<div data-ng-show="((authentication.user) && (authentication.user._id == campagne.user._id))">
	    <div class="alert alert-warning text-center" data-ng-hide="campagne.gameSessions.length">
	    	Aucune séance programmée, <a href="/#!/campagnes/{{campagne._id}}/create">en créer une !</a>
	    </div>
	    <a href="/#!/campagnes/{{campagne._id}}/create" class="btn btn-primary"><i class="fa fa-plus"></i> Nouvelle séance</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-show="((authentication.user) && (authentication.user._id != campagne.user._id)) && (campagne.gameSessions.length === 0)">
		<p>L'auteur de cette campagne n'a pas encore créé de séance.</p>
	</div>

</section>
