<section data-ng-controller="CampagnesController" data-ng-init="findOne()">
	<nav>
	  <ul class="pager">
	    <li class="previous"><a href="/#!/campagnes/{{campagne._id}}"><span aria-hidden="true">&larr;</span> Retour à la campagne</a></li>
	  </ul>
	</nav>

	<div class="jumbotron">
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == campagne.user._id))">
			<a class="btn btn-primary" href="/#!/campagnes/{{campagne._id}}/{{session}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="removeSession();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>		
		<h1 data-ng-bind="campagne.gameSessions[session].title"></h1>
		<p data-ng-bind="campagne.gameSessions[session].slogan"></p>
		<small>
			<em class="text-muted">
				Session de jeu créée le
				<span data-ng-bind="campagne.gameSessions[session].created | date:'dd/MM/yyyy à HH:mm'"></span>
				par
				<span data-ng-bind="campagne.user.displayName"></span>
			</em>
		</small>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Résumé de la séance</h2>
		</div>
		<div class="panel-body">
		<p ng-bind-html="trustedHtml(campagne.gameSessions[session].summary)"></p>
		</div>
	</div>

</section>
