<section data-ng-controller="CampagnesController" data-ng-init="findOne()">
	<nav class="row">
	  <ul class="pager">
	    <li class="previous"><a href="/#!/campagnes"><span aria-hidden="true">&larr;</span> Retour aux campagnes</a></li>
	  </ul>
	</nav>

	<!-- En-tête de la campagne -->
	<div class="jumbotron row">
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == campagne.user._id))">
			<a class="btn btn-primary" href="/#!/campagnes/{{campagne._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>		
		<h1 data-ng-bind="campagne.name"></h1>
		<p data-ng-bind="campagne.description"></p>
		<small>
			<em class="text-muted">
				Campagne créée le
				<span data-ng-bind="campagne.created | date:'dd/MM/yyyy à HH:mm'"></span>
				par
				<span data-ng-bind="campagne.user.displayName"></span>
			</em>
		</small>
	</div>

	<!-- Onglets -->
	<div class="row">
		<ul class="nav nav-tabs">
	  	  <li role="presentation" class="active"><a href="/#!/campagnes/{{campagne._id}}">Séances</a></li>
		  <li role="presentation"><a href="/#!/campagnes/{{campagne._id}}">Documentation (à venir)</a></li>
		</ul>
	</div>

	<!-- Liste des séances -->
	<div class="row top-buffer">
		<div class="list-group col-sm-9">
			<!-- Séance à venir -->
			<div class="alert alert-info">
				<h4>
					<i class="fa fa-clock-o fa-lg"></i> 
					<span data-ng-show="nextDate">Prochaine séance </span>
					<span data-ng-bind="campagne.nextDate | date:'dd/MM/yyyy HH:mm'"></span>
					<span data-ng-show="!nextDate">Date de la prochaine séance indéterminée</span>
				</h4>
			</div>
			<!-- Anciennes séances -->
			<a data-ng-repeat="game in campagne.gameSessions" class="list-group-item gameSessions" data-ng-href="/#!/campagnes/{{campagne._id}}/{{game.id}}" data-ng-click="viewSession(game.id)">
				<small class="pull-right">
					<em class="text-muted">
						<span data-ng-bind="game.created | date:'dd/MM/yyyy à HH:mm'"></span>
					</em>
				</small>
				<div class="label label-default">Séance {{game.id +1}}</div>
				<h4 class="list-group-item-heading" data-ng-bind="game.title"></h4>
				<p class="list-group-item-text"><i class="fa fa-angle-double-left"></i> <em class="list-group-item-text" data-ng-bind="game.slogan"></em> <i class="fa fa-angle-double-right"></i></p>
			</a>

			<!-- Boutons d'ajout -->
			<div data-ng-show="((authentication.user) && (authentication.user._id == campagne.user._id))" class="top-buffer">
			    <div class="alert alert-warning text-center" data-ng-hide="campagne.gameSessions.length">
			    	Aucune séance programmée, <a href="/#!/campagnes/{{campagne._id}}/create">en créer une !</a>
			    </div>
			    <a href="/#!/campagnes/{{campagne._id}}/create" class="btn btn-primary"><i class="fa fa-plus"></i> Nouvelle séance</a>
			</div>
			<div class="alert alert-warning text-center top-buffer" data-ng-show="((authentication.user) && (authentication.user._id != campagne.user._id)) && (campagne.gameSessions.length === 0)">
				<p>L'auteur de cette campagne n'a pas encore créé de séance.</p>
			</div>
		</div>

		<!-- Liste des participants -->
		<div class="col-sm-3">
			<h4>Liste des participants</h4>
			<div class="list-group">
				<a data-ng-repeat="player in campagne.players" class="list-group-item" data-ng-bind="player.displayName"></a>
			</div>
			<div class="alert alert-warning text-center top-buffer" data-ng-show="campagne.players.length === 0">
				<p>Il n'y a encore aucun participant à cette campagne.</p>
			</div>
			<div data-ng-show="authentication.user">
				<button class="btn btn-primary" data-ng-click="campaignSubscription()">S'inscrire</button>	
				<button class="btn btn-primary" data-ng-click="campaignUnsubscription()">Se désinscrire</button>
			</div>	
		</div>
	</div>

</section>
